<% comments.each do |comment| %>
      <div class="row">
        <div class="col-2">
          <div class="text-center">
            <%= link_to communities_path(comment.user_id) do %>
            <%= image_tag comment.user.get_profile_image(100,100), size: '120x120' %>
            <% end %>
            <%= comment.user.nickname %>
          </div>
        </div>

      <div class="col-8">
          <b><%= comment.community.fes_name %></b>
          <p><%= comment.comment %></p>
      </div>

      <div class="col-2">
          <div style="width: 500px;">
              <%= comment.created_at %>
          <% if comment.gooded_by?(current_user) %>
          <p>
            <%= link_to comment_goods_path(comment,path: path), class: 'btn btn-outline-primary', method: :delete, remote: true do %>
           ♥<%= comment.goods.count %> いいね
          <% end %>
         </p>
          <% else %>
         <p>
          <%= link_to comment_goods_path(comment,path: path), class: 'btn btn-outline-primary', method: :post, remote: true do %>
          ♡<%= comment.goods.count %> いいね
          <% end %>
         </p>
        <% end %>
        <% if comment.user == current_user %>
          <%= link_to "削除", comment_path(comment.id), method: :delete, class: 'btn btn-outline-danger btn-sm' %>
        <% end %>
        </div>
        </div>
      </div>
     <% end %>