<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto"><h2><%= @user.full_name %>さんのユーザー情報編集</h2></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>
      <table class="table-borderless">
        <tbody>
            <tr>
              <td><h4>会員ID</h4></td>
              <td><%= @user.id %></td>
            </tr>

            <tr>
              <td><h4>氏名</h4></td>
                <td>
                  <%= f.text_field :last_name %>
                  <%= f.text_field :first_name %>
                </td>
            </tr>

            <tr>
              <td><h4>フリガナ</h4></td>
                <td>
                  <%= f.text_field :last_name_kana %>
                  <%= f.text_field :first_name_kana %>
                </td>
            </tr>

            <tr>
              <td><h4>メールアドレス</h4></td>
              <td><%= f.text_field :email %></td>
            </tr>

            <tr>
              <td><h4>会員ステータス</h4></td>
                <td>
                  <div class="is_deleted">
                    <% f.label :会員ステータス %>
                  <div>
                    <%= f.radio_button :is_deleted, false %>
                    <%= f.label :is_deleted, "有効", valie: false %>
                    <%= f.radio_button :is_deleted, true %>
                    <%= f.label :is_deleted, "退会", value: true %>
                  </div>
                  </div>
                </td>
            </tr>

            <tr>
              <td><%= f.submit "更新", class: 'btn btn-success' %></td>
            </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>