<div class="container">
  <div class="row">
    <div class="col-md-3 mx-auto"><h2>いいね履歴一覧</h2></div>
  </div>
</div>

<div class="container">
      <% @goods.each do |good| %>
      <div class="row">
        <tr>
          <%= link_to communities_path(good.comment.user_id) do %>
          <%= image_tag good.comment.user.get_profile_image(100,100) %>
          <% end %>
          <%= good.comment.user.nickname %>
        </tr>
      </div>
      <div class="row">
        <tr>
          <%= good.comment.community.fes_name %>
          <%= good.comment.comment %>
          <%= good.comment.created_at %>
        </tr>

        <% if good.comment.gooded_by?(current_user) %>
          <p>
            <%= link_to comment_goods_path(good.comment), method: :delete do %>
           ♥<%= good.comment.goods.count %> いいね
          <% end %>
         </p>
          <% else %>
         <p>
          <%= link_to comment_goods_path(good.comment), method: :post do %>
          ♡<%= good.comment.goods.count %> いいね
          <% end %>
         </p>
        <% end %>
      </div>
     <% end %>
</div>
