<!DOCTYPE html>
<html>
  <head>
    <title>LIVERS HIGH!!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="site-header">
      <div class="site-header__top">
        <div class="wrapper site-header__wrapper top">
          <nav class="navber navber-expand-lg" style="background-color: #000000">
              <%= link_to root_path, class: "navber-brand" do %>
               <div class="ml-3 mt-3"><i class="fa-regular fa-cake-slice"></i><h2>LIVERS HIGH!!</h2></div>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
               <% end %>
          </nav>
       </div>
     </div>

     <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #444444">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
            <li class="nav-item">
               <%= link_to community_search_path, class: 'nav-link text-light' do %>
               <button type="button" class="btn btn-light">フェス検索</button>
               <% end %>
              </li>

            <li class="nav-item">
               <%= link_to user_path(current_user.id), class: 'nav-link text-light' do %>
               <button type="button" class="btn btn-light">マイページ</button>
               <% end %>
              </li>

              <li class="nav-item">
               <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
               <button type="button" class="btn btn-light">ログアウト</button>
               <% end %>
             </li>

           <% elsif admin_signed_in? %>
             <li class="nav-item">
               <%= link_to admin_root_path, class: 'nav-link text-light' do %>
               <button type="button" class="btn btn-light">フェス一覧</button>
               <% end %>
              </li>

              <li class="nav-item">
               <%= link_to admin_users_path, class: 'nav-link text-light' do %>
               <button type="button" class="btn btn-light">ユーザー一覧</button>
               <% end %>
              </li>

              <li class="nav-item">
               <%= link_to admin_comments_path, class: 'nav-link text-light' do %>
               <button type="button" class="btn btn-light">コメント一覧</button>
               <% end %>
              </li>

              <li class="nav-item">
               <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
               <button type="button" class="btn btn-light">ログアウト</button>
               <% end %>
              </li>

           <% else %>
             <li class="nav-item">
               <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
               <button type="button" class="btn btn-light">新規登録</button>
               <% end %>
             </li>

             <li class="nav-item">
               <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
               <button type="button" class="btn btn-light">ログイン</button>
               <% end %>
              </li>
           <% end %>
         </ul>
      </div>
    </nav>
    </header>
    <%= yield %>
    <div style="position: absolute; bottom: 0; width: 100%;">
    <footer class="text-white mt-5" style="background-color: #000000">
      <div class="container pt-2 pb-3">
            <h6 class="text-white text-center">© All rights reserved by JM.Inc.</h6>
      </div>
    </footer>
    </div>
  </body>
</html>
